:root {
    --main-color: #15b53f;
    --secondary-color: #e0e0e0;
    --font-color: #333333;
    --secondary-font-color: #777777;

    /* Font Size */
    --base-font-size: 16px;
    --small-font-size: 0.875em;
    --large-font-size: 1.25em;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--base-font-size);
    color: var(--font-color);
}

h1,
h2,
h3 {
    color: var(--main-color);
}

p {
    color: var(--font-color);
}

a {
    color: var(--secondary-font-color);
    text-decoration: none;
}

small {
    font-size: var(--small-font-size);
}

.large-text {
    font-size: var(--large-font-size);
}

.main-background {
    background-color: var(--main-color);
}

.secondary-background {
    background-color: var(--secondary-color);
}

nav {
    background-color: rgb(247, 247, 247);
}

nav .container {
    padding: 10px 0;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2em;
}

.logo {
    font-size: 2em;
    cursor: pointer;
}

.nav-link,
.nav-ico {
    font-size: var(--large-font-size);
    margin-inline: 1em;
    font-weight: 300;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.nav-link:hover,
.nav-ico:hover {
    transform: scale(1.05);
}

.featured-products {
    padding-top: 2em;
    height: 100vh;
    background-color: var(--secondary-color);
}

.featured-products .title {
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}


.cards-container {
    padding-top: 3em;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card .content {
    padding: 15px;
    transition: transform 0.3s ease;
}

.stars-container i {
    color: gold;
}

.stars-container i:nth-last-child(1),
.stars-container i:nth-last-child(2) {
    color: #7f7f7f;
}

.card-title {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.card p {
    color: #555;
    font-size: 0.9em;
    line-height: 1.6;
}